.box-body {
    display: flex;
}

.button-see {
    text-decoration: none;
    background-color: #003affb3;
    padding: 10px;
    font-size: 600;
    font-size: 17px;
    font-weight: 600;
    border-radius: 5px;
    color: #fffffff2;
    margin: auto;
    position: absolute;
    bottom: 10px;
    right: 50%;
}

.box-header {
    position: relative;
    padding-bottom: 50px;
}

.content-nd {
    text-align: justify;
    padding-right: 10px;
}

.box-header-bottom {
    position: relative;
    margin-top: 100px;
    display: inline-block;
}

.box-title {
    position: absolute;
    top: -70px;
    right: 45%;
}
.see-two {
    margin-top: 20px;
    position: absolute;
    bottom: -70px;
}

.carousel-css {
    margin-top: 100px;
}

.box-title::after {
    content: '';
    width: 50%;
    height: 2px;
    margin-top: 10px;
    background: #143980;
}
.module-content {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 100px;
}

.module-sidebar-div {
    background: gainsboro;
    position: absolute;
    top: -14%;
    margin: auto;
    padding: 10px;
    width: 350px;

    right: -75px;
}

.centered-heading {
    text-align: center;
}

.content-list h4 {
    padding-top: 10px;
    width: 100%; /* Điều chỉnh kích thước theo ý muốn */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item-bottom {
    width: 350px; /* Điều chỉnh kích thước theo ý muốn */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-middle {
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 5px;
}
.news-list{
    margin: 40px 0;
}
.content-list{
    width: 321px;
}
.content-list h4 a{
    font-size: 17px;
    font-weight: 700;
    color: #333333;
    font-family: monospace;
    text-align: justify;
}
.time{
    color: #929292;
    font-size: 15px;
}
.decription p{
    text-align: justify
}
.decription{
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.4;
    color: #333333;
    font-size: 15px;
    font-family: monospace;
}