

/* mô tả  */
/* .header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header span{
    font-size: 30px;
}
.header h1{
    font-size: 35px;
}
 .all{
    background-image: linear-gradient(#05295f9e,#143980), url("https://husc.edu.vn/images/slide/cover0.jpg") ;
 }
.container{
    margin: 0 17px 15px 150px;
    height: 100%;
}
.content-de{
    display: flex;
    margin: 0 -34px 0 13px;
}
.img{
    height: 500px;width: 530px;
    margin: 0 0;
    padding: 0 0 0 40%;
    background-size: cover;
}
.text{
    text-align: center;
    width: 200%;
    margin-right: 30px;
    margin-top: 2%;
    color: aliceblue; 
}
.text:active{
    text-align: center;
    width: 200%;
    margin-right: 30px;
    margin-top: 2%;
    color: aliceblue; 
    transition: all 0.5s;
}
.decription{
    text-align: center;
}
.content{
    margin: 0 10%;
}
.tabled{
    width: 100%;
}
.item{
    display: grid;
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
}
.item i{
    font-size: 40px;
    margin-bottom: 10px;
}
.hr{
    width: 300px;
    height: 2px;
    background-color: aliceblue;
    margin: 5px 0 15px 0;
}  */
/* end mô tả css */

/* thông báo và video */
/* .container {
margin: 20px auto;
padding:30px auto;
}
.card{
    border: 0 ;
}
.card-title{
    text-align: center;
    font-size: 30px;
    font-weight: 390;
    color: #143980;
}
.hr{
    height: 2px;
    width: 300px;
    margin: 10px auto;
    background-color: #143980;
}
.news-a a{
    color: #143980;
    font-weight: 600;
}
.news-a{
    margin-bottom: 20px;
}
.time{
    color: #333333;
}
.post-place{
    color: #333333; font-weight: 350
}
.comic{
    margin: auto;
    background-color: #143980;
    width: 521.81px;
    height: 115px;
}
.comic a{
    color: aliceblue;
}
.comic a:hover{
    color: rgb(255, 0, 0);
}
.comic img{
    margin: 22px 35px ;
}
.comic p{
    font-size: 25px ;
    margin-bottom: 10px;
}
.comic h3{
    font-size: 25px ;
} */
/* end thông báo và video */

/* {{--trang Thông báo --}} */
    /* .news-all{
        padding-top: 20px;
    }
    .main{
        margin: 40px 0;
    }
    .card{
        border: 0;
    }
    .card-title{
        text-align: center;
        font-size: 25px;
        color: #143980;
    }
    .hr{
        text-align: center;
        background-color: #143980;
        width: 155px;
        height: 2px;
        margin: auto;
    }
    .container{
        height: 100%;
    }
    .item{
        display: flex;
        margin: 5px 0 0 40px;
    }
    .item i{
        font-size: 60px;
        color: rgb(219, 104, 104);
        height: fit-content;
        padding-top: 10px;
    }
    .item h4{
        font-size:15px;
        
    }
    .content a{
        color: #2c343b;
        font-weight: 500;
    }
    .content a:hover{
        color: #358fdd;
        font-weight: 500;
    }
    .content{
        margin-left: 20px;
        width: 100%;
    }
    .page-link{
        color: #143980;
    }
    .page-link:hover{
        color: #6492e8;
    }
    .pag{
        width: fit-content;
        padding: 0 0 0 30%;
        
    }
    .sidebar-all{
        background-color: #f6f6f6;
        height: fit-content;
        width: 30%;
    }
    .cm{
        color: #333333;
        font-size: 15px;
        font-weight: 600;
        transition: padding 0.8s;
        font-family: system-ui;
        
    }
    .cm:hover{
        color: #D92727;
        font-size: 15px;
        font-weight: 600;
        padding-left: 1rem;
    }
    ul{
        padding-left: 0rem;
        padding-top: 15px;
    }
    li{
        padding-bottom: 10px;
    } */
/* {{-- end trang thông báo --}} */

/* Thông tin tuyển dụng */
    .title{
        font-size: 25px;
        text-align: center;
        font-weight: 400;
        color: #143980;
        margin-bottom: 20px;
    }
    .row{
        padding: 0 69px;
    }
    .title p{
       margin-bottom: 0.5rem;
    }
    .hr{
        margin: 0 45%;
        opacity: 4;
        height: 2px;
        background-color: #143980;
    }
    .news-list{
        margin: 40px 0;
    }
    .content-list h4 a{
        font-size: 17px;
        font-weight: 700;
        color: #333333;
        font-family: monospace;
        text-align: justify;
    }
    .time{
        color: #929292;
        font-size: 15px;
    }
    .decription{
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-height: 1.4;
        color: #333333;
        font-size: 15px;
        font-family: monospace;
        text-align: justify;
    }
    .page-link{
        color: #143980;
    }
    .page-link:hover{
        color: #6492e8;
    }
    .pag{
        width: fit-content;
        padding: 10px 43.56%;
        
    }
    
/* end Thông tin tuyển dụng */